.git/
.github/
**/.vs/
**/.idea/
**/.vscode/
**/bin/
**/obj/
**/node_modules/
**/dist/
**/dist-ssr/
**/coverage/
**/TestResults/
**/keys/
**/.env
**/.env.*
**/*.user
**/*.suo
**/*.log
**/*.pfx
**/*.key
**/*.pem
